:root {
  --universe: #7096d1;
  --venus: #bad6eb;
  --sky: #d0e3ff;
  --planetary: #334eac;
  --galaxy: #081f5c;
  --meteor: #f7f2eb;
  --milkyway: #fff9f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Railway", sans-serif;
  background-color: var(--galaxy);
  color: var(--milkyway);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: transparent;
  border-bottom: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.navbar.transparent {
  background-color: transparent;
  border-bottom: none;
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.navbar.transparent .navbar-nav a,
.navbar.transparent .navbar-logo {
  color: var(--universe);
}

.navbar.solid {
  background-color: var(--galaxy);
  /* warna solid biru */
  border-bottom: 1px solid #785a3b;
}

.navbar.solid a,
.navbar.solid .navbar-logo,
.navbar.solid .navbar-nav a {
  color: white;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--planetary);
  font-style: italic;
}

.navbar,
.navbar a,
.navbar .navbar-logo {
  transition: all 0.3s ease;
}

.navbar .navbar-logo span {
  color: var(--universe);
}
.navbar .navbar-nav {
  left: 10;
}
.navbar .navbar-nav a {
  color: var(--universe);
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--planetary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--milkyway);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--universe);
}

.navbar .navbar-extra a:hover {
  color: var(--milkyway);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../assets/images/bkground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(39, 39, 146) 8%,
    rgba(40, 37, 211, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3em;
  color: var(--planetary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--universe);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--sky);
  background-color: var(--planetary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  border-radius: 40px;
}

.hero .content .cta:hover {
  transform: scale(1.05);
  border: 2px solid var(--sky);
}

/* About Section */
section {
  width: 100%;
  height: 100vh;
  max-height: fit-content;
  min-height: max-content;
  margin-top: 10vh;
}

.section-title {
  width: 90%;
  text-align: center;
  margin: 0 auto 2rem auto;
  font-size: 3rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin: 0 auto 10rem auto;
}

.about p {
  width: 80%;
  font-size: 1.5rem;
}

/* Service Section */
.accordion {
  width: 100%;
  margin: 3.5rem auto;
}

.accordion li {
  list-style: none;
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 1rem;
  background-color: var(--galaxy);
  color: var(--milkyway);
  box-shadow: 6px 6px 10px -1px var(--milkyway),
    -6px -6px 10px -1px var(--meteor);
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 1em;
  font-size: 1rem;
  cursor: pointer;
}

label::before {
  content: "+";
  margin-right: 1rem;
  font-size: 1rem;
}

input[type="radio"] {
  display: none;
}

.accordion .service-content {
  padding: 0 0.5rem;
  max-height: 0;
  line-height: 1.5rem;
  overflow: hidden;
  transition: max-height 0.75s, padding 0.75s;
}

.accordion input[type="radio"]:checked + label + .service-content {
  max-height: fit-content;
  padding: 1.5rem 1.5rem 2rem;
}

.accordion input[type="radio"]:checked + label::before {
  content: "-";
}

.service-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2.5rem;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 8px 32px var(--venus);
  width: 45%;
  height: 15vh;
  margin: 0.5rem;
  padding: 0.75rem;
}

.card p {
  text-align: justify;
}

/* Contact */
.contact-title {
  color: var(--primary);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-sub-title {
  color: var(--milkyway);
  text-align: center;
  font-size: 15px;
  margin-bottom: 50px;
}

.contact .contact-info-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}

.contact .contact-info-item .icon {
  display: inline-block;
  color: var(--primary);
}

.contact .contact-info-item .icon .fa {
  font-size: 25px;
  color: var(--skin-color);
}

.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  margin: 15px 0 5px;
}

.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}

.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .form-item {
  margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: var(--milkyway);
  border: 1px solid #010101;
  padding: 10px 25px;
  font-size: 15px;
  color: black;
  transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
  height: 140px;
}

.contact .contact-form .cta {
  height: 50px;
  padding: 0 50px;
  border-radius: 10px;
  background-color: var(--primary);
}

.contact .contact-form .cta:hover {
  transform: scale(1.05);
  border: 2px solid var(--primary);
}

/* Footer */
footer {
  margin-top: 2.8125rem;
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
}

.footer {
  margin-bottom: 40%;
  width: 30%;
  height: 50vh;
  min-height: max-content;
  max-height: fit-content;
}

footer .copyright p {
  margin: 0.5rem 2rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
}

footer .social-media ul {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

footer .social-media li {
  list-style: none;
}

footer .social-media p {
  text-align: center;
  font-size: 1.25rem;
}

footer .social-media li a {
  text-decoration: none;
  color: var(--milkyway);
  font-size: 1.875rem;
}
/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--galaxy);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--galaxy);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .contact .contact-form .col-6,
  .contact .contact-info-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
